<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="/">
      <i class="fas fa-book-open"></i>
      Qwertypedia
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Posts
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% for post in collections.post | sortByOrder %}
              <li>
                <a class="dropdown-item" href="{{ post.data.permalink }}">
                  <i class="{{ post.data.icon }}"></i>
                  {{ post.data.title }}</a>
              </li>
            {% endfor %}
          </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>